
@{
    ViewBag.Title = "Youtube";
}
<link href="~/tyyli.css" rel="stylesheet" />
<h2 style="text-align:center;"><u>Ohjelmointi oppaita</u></h2>

<div class="row">
    <div class="col-md-4">
        <h3>Video 1 - php-(CRUD) tutorial</h3>
        <iframe width="300" height="300" src="https://www.youtube.com/embed/MyHSqo-gv_Q" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

    </div>
    <div class="col-md-4">
        <h3>Video 2</h3>

    </div>
    <div class="col-md-4" style="padding-right: 20px;">
        <h3>Video 3</h3>

    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Video 4</h3>

    </div>
    <div class="col-md-4">
        <h3>Video 5</h3>

    </div>
    <div class="col-md-4" style="padding-right: 20px;">
        <h3>Video 6</h3>

    </div>
</div>